<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                      <p>                
                <img src ="img/foster.jpg" style="float: left; padding-right: 20px"> 
            </p>
            <div class="aboutsection">
                <p>
                    I am a developer based out of Boulder, CO graudating from the University of Colorado in December 2019.  I am a lover of stories-- telling them, hearing them, and designing them inside and out.  I operate on fun, coffee and conversations that say so little but mean so much.  I am an enneagram type 2 and a Myers Briggs ESFP (and yes, I believe that this is important and that you should think so too).  I am a leader, a learner and your biggest fan.  I hope to synthesize coding and design with my passion for telling stories to shed light on social issues and current events.
                </p>
                <p>
                    If you didn’t want to read all of that, pretty much the bottom line is that I care a little too much about a lot of things, but I make it work.
                </p>
            </div>  
                </div>
            </div>
        </div>
    </section>